# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Binaries
oci-checker
main

# Environments
.env

# Toolchains
/.mise.toml

# Environment Variables
.env

# Modules and Vendor
vendor/

# IDE and OS Files
.vscode/
.idea/
.DS_Store
*.swp
*.swo
