services:
  oci-checker:
    build: .
    restart: always
    volumes:
      - ~/.oci:/root/.oci:ro
    env_file:
      - .env
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
